#window {
	border: 1px solid rgba(--wofi-rgb-color1, 1);
	background-color: rgba(--wofi-rgb-color0, 0.96);
	font-size: 19px;
	font-family: "SourceCodePro Medium";
}

#outer-box {
	margin: 3px;
}

#input {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	color: --wofi-color1;
	margin: 3px;
}

#input image:first-child {
	margin-left: -100px;
}

#input image:last-child {
	margin-right: -100px;
}

#input:focus {
	border-radius: 0;
}

#entry {
	color: --wofi-color1;
	border: 1px solid rgba(--wofi-rgb-color1, 0.26);
	border-left: 0px;
	border-right: 0px;
}

#entry:selected {
	background-color: rgba(--wofi-rgb-color1, 0.94);
	color: --wofi-color0;
}

#img {
	margin-right: 5px;
	margin-left: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#text {
	margin-left: 3px;
}
