/* import css definitions for current theme */
@import url("theme.css");


* {
    border: none;
    border-radius: 0;
    font-family: "SourceCodePro Medium";
    font-size: 14px;
    min-height: 15px;
    padding: 0
}

window#waybar {
    color: @bright_text_color;
    border-top: 1px solid @dim_text_color;
	background-color: @background_color;
	font-family: "SourceCodePro Medium";
}

#workspaces button {
    color: @bright_text_color;
    border-top: 1px solid @dim_text_color;
	background-color: @background_color;
	font-family: "SourceCodePro Medium";
    margin: 0;
    padding: 1px 4px 0 4px
}
#workspaces button:hover {
    color:  @background_color;
	background-color: @dim_text_color;
	font-family: "SourceCodePro Medium";
}

#workspaces button.focused {
    color:  @background_color;
	background-color: @dim_text_color;
	font-family: "SourceCodePro Medium";
}

tooltip {
    background: @background_color;
    border: 1px solid @background_color;
  }
  tooltip label {
    color: white;
  }


#backlight,
#temperature,
#battery,
#clock,
#tray,
#bluetooth,
#pulseaudio,
#idle_inhibitor,
#language,
#cpu,
#memory,
#custom-spotify,
#network
{
    color: @bright_text_color;
    border-right: 1px dashed @dim_text_color;
	background-color: @background_color;
    border-top: 1px solid @dim_text_color;
    margin: 0;
    padding: 0 6px 0 6px
}

#cpu.warning {
    color: @warning_color;
}

#cpu.critical {
    color: @error_color;
}

#cpu span {
    min-width: 10px
}